<div class="about-me-section">
  <div class="about-me-content">
    <div class="about-me-photo">
      <img src="assets/perfil.png" alt="Img Perfil" />
      <div class="photo-border"></div>
    </div>
    <div class="about-me-text">
      <h2>{{ content.aboutme.heading }}</h2>
      <p *ngFor="let paragraph of content.aboutme.paragraphs">{{ paragraph }}</p>
      <div class="buttons">
        <button class="gradient-button">{{ content.aboutme.buttons.contact }}</button>
        <button class="outline-button">{{ content.aboutme.buttons.cv }}</button>
      </div>
    </div>
  </div>
</div>