<button class="language-button"(click)="toggleLanguage()">{{ currentLanguage === 'english' ? 'ES' : 'EN' }}</button> 
<nav>
  <div>
    <img src="assets/logo.png" alt="logo" />
  </div>
  <ul>
    <li><a href="">{{ currentLanguage === 'english' ? 'HOME' : 'INICIO' }}</a></li>
    <li>|</li>
    <li><a href="">{{ currentLanguage === 'english' ? 'ABOUT ME' : 'SOBRE MI' }}</a></li>
    <li>|</li>
    <li><a href="">{{ currentLanguage === 'english' ? 'PORTFOLIO' : 'PORTAFOLIO' }}</a></li>
    <li>|</li>
    <li><a href="">{{ currentLanguage === 'english' ? 'SERVICES' : 'SERVICIOS' }}</a></li>
  </ul>
  <button>{{ currentLanguage === 'english' ? 'CONTACT' : 'CONTACTO' }}</button>
</nav>
