@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:host {
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-section {
    width: 80%;
    text-align: center;
}

.portfolio-section h2 {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;  
}

.portfolio-photo img {
    border-radius: 10px;
    width: 400px;
    height: 220px;
    display: block;
    margin-bottom: 1rem;
}

.photo-border {
    position: absolute;
    top: 25px;
    left: -25px;
    width: 400px;
    height: 220px;
    border: 8px solid #38a3a5;
    border-radius: 10px;
    z-index: -1;
}

.portfolio-text {
    margin-left: 70px;  
    text-align: left;
}

.portfolio-text h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
}

.portfolio-text p {
    margin: 0;
    font-size: 14px;
}

.portfolio-text-reverse {
    margin-right: 70px;  
    text-align: right;
}

.portfolio-text-reverse h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
}

.portfolio-text-reverse p {
    margin: 0;
    font-size: 14px;
}

.portfolio-photo.reverse {
    flex-direction: row-reverse;
}

.portfolio-photo.reverse .photo-border {
    left: auto;
    right: -25px;
}

.portfolio-text.reverse {
    margin-left: 0;
    margin-right: 40px; 
    text-align: right;
}
