<div class="portfolio-section">
    <h2>PORTFOLIO</h2>
    <div class="portfolio-content">
      <div class="portfolio-project1">
        <div class="portfolio-photo">
          <img src="assets/pm3-03.jpg" alt="img project 1" />
          <div class="photo-border"></div>
          <div class="portfolio-text">
            <h3>GYM STUDIO</h3>
            <p>Texto del proyecto</p>
          </div>
        </div>
      </div>
      <div class="portfolio-project2">
        <div class="portfolio-photo">
          <img src="assets/pm3-03.jpg" alt="img project 1" />
          <div class="photo-border"></div>
          <div class="portfolio-text">
            <h3>GYM STUDIO</h3>
            <p>Texto del proyecto</p>
          </div>
        </div>
      </div>
      <div class="portfolio-project3">
        <div class="portfolio-photo">
          <img src="assets/pm3-03.jpg" alt="img project 1" />
          <div class="photo-border"></div>
          <div class="portfolio-text">
            <h3>GYM STUDIO</h3>
            <p>Texto del proyecto</p>
          </div>
        </div>
      </div>
    </div>
  </div>