<div class="portfolio-section">
  <h2>PORTFOLIO</h2>
  <div class="portfolio-content">
    <div class="portfolio-project1">
      <div class="portfolio-photo">
        <div class="imgcontainer">
          <img src="assets/pm3-03.jpg" alt="img project 1" />
        </div>
        <div class="photo-border"></div>
        <div class="portfolio-text">
          <h3>GYM STUDIO</h3>
          <p>Sitio web en el cual te puedes registrar, iniciar sesión y sacar turnos para las clases que se dictan en un gimnasio.</p>
        </div>
      </div>
    </div>
    <div class="portfolio-project2">
      <div class="portfolio-photo reverse">
        <div class="imgcontainer">
          <img src="assets/pm4-01.jpg" alt="img project 2" />
        </div>
        <div class="photo-border reverse-border"></div>
        <div class="portfolio-text-reverse">
          <h3>API E-Commerce</h3>
          <p>Un backend robusto para una plataforma de ecommerce, que incluye la gestión de productos, categorías, usuarios, órdenes y pagos.</p>
        </div>
      </div>
    </div>
    <div class="portfolio-project3">
      <div class="portfolio-photo">
        <div class="imgcontainer">
          <img src="assets/elplac.jpg" alt="img project 3" />
        </div>
        <div class="photo-border"></div>
        <div class="portfolio-text">
          <h3>ELPLAC</h3>
          <p>ELPLAC es una plataforma de Ferias de ropa usada, donde se pueden crear Ferias y se pueden registrar vendedores y los compradores pueden adquirir sus entradas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
